<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Home Inventory App. Reduce wastage and save on your groceries.</p>
  <a href="/inventory/add" class="btn btn-dark btn-lg">Add Item</a>
</div>